/***************************************
 *Author: CGC
 *Date: 2018/12/27
 */


body {
    font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 14px;
    line-height: 1.5;
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    color: #333;
    background-color: #fff;
    min-width: 1226px;
}
body{
    margin: 0;
}
a{
    text-decoration: none;
}

/* site-topbar */
.site-topbar{
    position: relative;
    font-size: 12px;
    height: 40px;
    color: #b0b0b0;
    background: #333;
}

.container {
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
}

.container:before, .container:after {
    content: " ";
    display: table;
}


.site-topbar a{
    display: inline-block;
    color: #b0b0b0;
    line-height: 40px;
}

.site-topbar .sep{
    margin: 0 .5em;
    color: #424242;
}
